* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  width: 100%;
  background: #f1f1ef;
  overflow-x: hidden;
}

li {
  list-style: none;
}

ul {
  width: 100%;
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items {
  width: 50%;
  margin: 0 auto;
  background-color: none;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2px solid #d3d3d3;
}

.items > div > input {
  background-color: transparent;
}
